body {
    background-color: white;
}
.container {
    display: flex;
    justify-content: center;
}
.pageLinks {
    width: 14rem;
    height: 3rem;
    border-radius: 3rem;
    margin: auto;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    background-color: blue;
}
.currentPageLink {
    background-color: cornflowerblue;
}
.pageLinksText {
    line-height: 3rem;
    text-align: center;
    color: black;
}
.textContainer {
    width: auto;
    height: 3rem;
    border-radius: 3rem;
    margin: auto;
    background-color: white;
}
.text {
    line-height: 3rem;
    text-align: center;
    color: black;
}
.externalSiteLogo {
    position: fixed;
    display: flex;
    bottom:2%;
    max-height: 2rem;
    max-width: 2rem;
    border-radius: 2rem;
    margin: auto;
    background: white;
}

.gridContainer {
    background-color: white;
}
.rowContainer {
    position: absolute;
    display: flex;
    align-items: left;
}
.gridCell {
    position: absolute;
}
.evenCell {
    background-color: grey;
}
.oddCell {
    background-color: darkgrey;
}