body {
    background-color: black;
}
.container {
    display: flex;
    justify-content: center;
}
.pageLinks {
    width: 14rem;
    height: 3rem;
    border-radius: 3rem;
    margin: auto;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    background-color: lime;
}
.currentPageLink {
    background-color: white;
}
.pageLinksText {
    line-height: 3rem;
    text-align: center;
    color: black;
}
.textContainer {
    width: auto;
    height: 3rem;
    border-radius: 3rem;
    margin: auto;
    background-color: black;
}
.text {
    line-height: 3rem;
    text-align: center;
    color: white;
}
.externalSiteLogo {
    position: fixed;
    display: flex;
    bottom:2%;
    max-height: 3rem;
    max-width: 3rem;
    border-radius: 1.5rem;
    margin: auto;
    background: white;
}
.replitLogo {
    left: 5%;
}