body {
    background-color: black;
}
.container {
    display: flex;
}
.pageLinks {
    width: 14rem;
    height: 3rem;
    border-radius: 3rem;
    margin: auto;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    background-color: lime;
}
.edgePageLinkLeft {
    margin-left: 11.5rem;
}
.edgePageLinkRight {
    margin-right: 11.5rem;
}
.currentPageLink {
    background-color: white;
}
.pageLinksText {
    line-height: 3rem;
    text-align: center;
    color: black;
}
.textContainer {
    width: auto;
    height: 3rem;
    border-radius: 3rem;
    margin: auto;
    background-color: black;
}
.text {
    line-height: 3rem;
    text-align: center;
    color: white;
}